*{
  overflow-x: hidden;

}
html{
  scroll-behavior: smooth;
}
.active-cont{
  background-image: url(../assets/pexels-pixabay-265152.jpg);
  height: 100vh;
}
.my-col h1{
  font-family:sans-serif ;
  font-style: italic;
  font-weight: 500;

}
.my-col p{
  font-size: 2em;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 300;
}
.main{
  margin-top: 10px;
  width: 100%;
}
/* Demo Margin */
.container{
  margin-top: 40px;
  margin-bottom: 40px;
}

/* This may not be needed depending on if you want to restrict the card size*/
.card{
  max-width: 380px;
}

.card-image-wrapper {
  display: flex;
  width: 100%;
  height: 250px;
  /* Just to show the size of the image wrapper */
  background-color: darkgrey;
}

.card-img-top {
  display: block;
  width: auto;
  max-height: 100%;
  margin: auto;
}
.info {
  padding: 30px;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.my-hover a{
  cursor: pointer;
  overflow: hidden;

}
.my-hover:hover a{
  transform: scale(1.1);
  overflow: hidden;
}